body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: Georgia;
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
}

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

#header {
    max-width: 1000px;
    padding: 46px 0 26px 0;
    margin: 0 auto 50px auto;
    border-bottom: solid 1px #909090;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

}

nav .menu,
nav .login {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav .menu li {
    margin-right: 14px;
}

nav .login li {
    margin-left: 14px;
}

.brand-logo {
    border: 0.5px solid #909090;
    width: 50%;
    height: auto;
    transition-duration: 0.5s;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

.brand-logo:hover {
    transform: scale(1.08, 1.08);
    cursor: pointer;
    border: 0.5px solid #909090;
}

.logo-box {
    display: flex;
    justify-items: center;
    width: 40%;
    height: auto;
    overflow: hidden;
    margin-left: 40%;
}

.menu-all,
.menu-new,
.menu-vintage,
.menu-category,
.menu-resister,
.menu-blog,
.login-login,
.login-contact {
    transition-duration: 0.5s;
}

.menu-all:hover,
.menu-new:hover,
.menu-vintage:hover,
.menu-category:hover,
.menu-resister:hover,
.menu-blog:hover,
.login-login:hover,
.login-contact:hover {
    background-color: #4b4b4b;
    cursor: pointer;
}

.album-A {
    margin-left: 20%;
    margin-right: 20%;
    color: black;
}

.no1,
.no2,
.no3,
.no4,
.no5,
.no6,
.no7,
.no8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.no1-photo,
.no2-photo,
.no3-photo,
.no4-photo,
.no5-photo,
.no6-photo,
.no7-photo,
.no8-photo {
    width: 50%;
}

.no1-text,
.no2-text,
.no3-text,
.no4-text,
.no5-text,
.no6-text,
.no7-text,
.no8-text {
    width: 50%;
    padding-left: 48px;
    padding-right: 48px;
}

.mypage-button {
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #000000;
    color: rgb(159, 116, 14);
    display: block;
    line-height: 1;
    margin-top: 5%;
    margin-right: 10px;
    margin-left: 42%;
    margin-bottom: 1%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0.5px 0.5px black;
}

.wrapper-footer {
    max-width: calc(800px + 2px);
    position: relative;
    bottom: 0px;
    left: 55%;
    transform: translateX(-50%);
    /* padding-bottom: 1px; */
}

nav {
    width: 100%;
}

nav .menu-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 50px;
    border-top: solid 1px #909090;
    padding-top: 20px;
}

nav .menu-footer li {
    font-size: 12px;
    margin-right: 14px;
}

.copy-rights {
    position: relative;
    color: rgb(175, 122, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}